@use "sass:map";
$breakpoints: (
  xs: 576px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
  xxxl: 1920px,
);

@mixin breakpoint($key) {
  $size: map.get($breakpoints, $key);

  @if $key == xs {
    @media (max-width: #{$size}) {
      @content;
    }
  } @else {
    @media (min-width: #{$size}) {
      @content;
    }
  }
}
