@use "./breakpoints" as bp;
//------- main styles ------- //

body {
  background-color: var(--gc-crema-50);
}
main {
  min-height: calc(100dvh - 80px - 82px);
  padding: 0px 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  @include bp.breakpoint("lg") {
    padding: 0px 3rem;
  }
  @include bp.breakpoint("lg") {
    padding: 0px 5rem;
    margin: 0 auto;
    max-width: 1600px;
  }
  animation: fadeIn 0.2s ease-in;
}

@keyframes fadeIn {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

section {
  padding: 1.5rem 1rem;
}
