@use "./foundations" as foundations;
@use "./breakpoints" as bp;
@use "./components/hero/hero" as bannerHero;
body {
  background-color: var(--gc-crema-50);
}
main {
  min-height: calc(100dvh - 80px - 81px);
  padding: 0px 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include bp.breakpoint("lg") {
    padding: 0px 3rem;
  }
  @include bp.breakpoint("lg") {
    padding: 0px 5rem;
    margin: 0 auto;
    max-width: 1600px;
  }
}

super-header,
super-footer {
  display: block;
  min-height: 80px;
}
super-header:not(:defined),
super-footer:not(:defined) {
  visibility: hidden;
}
super-header:defined,
super-footer:defined {
  visibility: visible;
}

section {
  padding: 1.5rem 1rem;
}

//index

.badge {
  position: absolute;
  left: 14px;
  top: 14px;

  border: 1px solid var(--gc-terra-500);
  color: rgb(255, 255, 255);
  padding: 8px 13px;
  border-radius: var(--gc-r-rounded);
  background-color: var(--gc-terra-500);
}

.badge--text {
  font-family: var(--gc-f-archivo);
  font-weight: 700;
  font-size: 0.7rem;
  letter-spacing: 0.06em;
}
